<form method="POST" action="/new">
  <h2>Send a message</h2>
  <label for="author">Author:</label>
  <input type="text" name="author" id="author" />
  <label for="message">Message:</label>
  <input type="text" id="message" name="message" />
  <button type="'submit">Submit</button>
</form>
